<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.auth.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.demo.auth.entity.User">
        <!--@Table t_user-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="deptId" column="dept_id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          id, dept_id, username, password, email, phone, del_flag, create_time, update_time
        from t_user
        <if test="offset >= 0 and limit >= 0" >
            limit #{offset}, #{limit}
        </if>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into t_user(dept_id, username, password, email, phone, del_flag, create_time, update_time)
        values (#{deptId}, #{username}, #{password}, #{email}, #{phone}, #{delFlag}, #{createTime}, #{updateTime})
    </insert>

</mapper>